{% extends 'layouts/base.html' %}
{% block title %}Company Details{% endblock %}
{% block content %}
<div class="container mx-auto mt-5">
    <h1 class="text-4xl font-bold mb-8"><i class="fas fa-building"></i> Company Details</h1>
    {% if company %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-4">Basic Information</h2>
            <ul class="list-group">
                <li class="list-group-item"><strong>INN:</strong> {{ company['INN'] }}</li>
                <li class="list-group-item"><strong>Company Name:</strong> {{ company['Yuridik shaxsning nomi'] }}</li>
                <li class="list-group-item"><strong>Registered Date:</strong> {{ company['Davlat ro’yxatidan o’tkazilgan sana'] }}</li>
                <li class="list-group-item"><strong>Registration Number:</strong> {{ company['Davlat ro’yxatidan o’tkazilgan raqami'] }}</li>
                <li class="list-group-item"><strong>Organizational and Legal Form:</strong> {{ company['Tashkiliy-huquqiy shakli'] }}</li>
                <li class="list-group-item"><strong>IFUT Code:</strong> {{ company['IFUT kodi (Amalga oshirilayotgan faoliyat tur(lar)i)'] }}</li>
                <li class="list-group-item"><strong>DBIBT Code:</strong> {{ company['DBIBT kodi'] }}</li>
                <li class="list-group-item"><strong>Small Business Entity:</strong> {{ company['Kichik tadbirkorlik sub`ektlariga mansubligi'] }}</li>
                <li class="list-group-item"><strong>Activity Status:</strong> {{ company['Faollik holati'] }}</li>
                <li class="list-group-item"><strong>Capital:</strong> {{ company['Ustav fondi'] }}</li>
            </ul>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-4">Contact Information</h2>
            <ul class="list-group">
                <li class="list-group-item"><strong>Phone Number:</strong> {{ company['Aloqa telefoni'] }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ company['Elektron pochta manzili'] }}</li>
                <li class="list-group-item"><strong>Address (MHOBT Code):</strong> {{ company['MHOBT kodi'] }}</li>
                <li class="list-group-item"><strong>Street, House, Apartment:</strong> {{ company['Ko’cha, uy, xonadon'] }}</li>
                <li class="list-group-item"><strong>Manager Name:</strong> {{ company['Rahbarning F.I.SH.'] }}</li>
            </ul>
        </div>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-md mt-4">
        <h2 class="text-2xl font-semibold mb-4">Shareholders</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>Shareholder 1:</strong> {{ company['shareholder 1'] }}</li>
            <li class="list-group-item"><strong>Shareholder 2:</strong> {{ company['shareholder 2'] }}</li>
            <li class="list-group-item"><strong>Shareholder 3:</strong> {{ company['shareholder 3'] }}</li>
            <li class="list-group-item"><strong>Shareholder 4:</strong> {{ company['shareholder 4'] }}</li>
        </ul>
    </div>
    {% else %}
    <p class="alert alert-warning">No details available for this company.</p>
    {% endif %}
    <a href="{{ url_for('companies_list') }}" class="btn btn-secondary mt-6 bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600">
        <i class="fas fa-arrow-left"></i> Back to Company List
    </a>
</div>
{% endblock %}
