{% extends 'layouts/base.html' %}

{% block title %}Companies{% endblock %}

{% block content %}
<div class="container mt-12">
    <h1 class="text-5xl font-bold text-center text-gray-900 mb-8"><i class="fas fa-building text-blue-500"></i> Companies</h1>
    <p class="text-xl text-center text-gray-700 mb-8">We are proud to present our list of partner companies.</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        {% for company in companies %}
        <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-500 hover:scale-105 focus:scale-105 p-4">
            <div class="mb-4">
                <h2 class="text-2xl font-semibold text-gray-900 mb-2 flex items-center">
                    <i class="fas fa-building text-blue-500 mr-2"></i> 
                    {{ company['Yuridik shaxsning nomi'] }}
                </h2>
                <p class="text-gray-700 flex items-center mb-4">
                    <i class="fas fa-id-badge text-gray-500 mr-2"></i> 
                    {{ company['INN'] }}
                </p>
                <a href="{{ url_for('company_detail', company_id=loop.index0) }}" class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:bg-blue-600 transition">
                    <i class="fas fa-info-circle mr-2"></i>View Details
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if not companies %}
    <p class="text-center text-gray-700 mt-4">No companies found.</p>
    {% endif %}
</div>
{% endblock %}
